.App {
  text-align: center;
}

/*
.AppBg:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(
    45deg,
    var(--LightBgGradientTo),
    var(--LightBgGradientFrom)
  );
  background-size: cover;
  background-position: bottom center;
  mix-blend-mode: soft-light;
}
*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;

  width: 100%;
  height: 100vh;
  background-image: url('./assets/bg-light.png');
  background-size: cover;
  background-position: bottom center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
