/*
.AppBg:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: linear-gradient(
    45deg,
    var(--LightBgGradientTo),
    var(--LightBgGradientFrom)
  );
  background-size: cover;
  background-position: bottom center;
  mix-blend-mode: soft-light;
}
*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.App-container {
  margin: 0 auto;
  /* padding-top: 2rem; */

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow-x: hidden !important;
  overflow-y: hidden !important;

  min-height: 100vh;
  background-image: url('./assets/bg-light.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;

  transition: all 0.3s;
}

.DarkMode {
  .App-container {
    background-image: url('./assets/bg-dark.png');

    transition: all 0.35s;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SearchError {
  color: rgb(245, 0, 0);
  padding: 0.5rem;
  font-size: 1rem;
}
